.bottom__nav {
  background: rgba(34, 34, 34, 1.0);
  color: #fff;

  text-align: center;
}

.bottom__nav--icons {
  padding-top: 1rem;
  height: 5rem;
  font-size: 30px;
}

.bottom__nav--logo {
  height: 2rem;

}
